extends ./layout/board.pug
block title
    div.jumbotron.my-2
        h2= title
            small - 게시판 리스트
block content
    table.table.table-bordered
        thread
            tr
                th 번호
                th 제목
                th 작성자
                th 작성일
                th 조회수
        tbody
            each list in lists
                tr
                    td= list.id
                    td= list.title
                    td= list.writer
                    td= list.wdate
                    td= list.rnum
                    
                            

